*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --bg-color: #b8b7b7;
  --color: rgba(45, 45, 45, 0.87);
  --light-gray: #dedddd; 
  --red-error: rgb(251, 30, 30);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
 
  
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-weight: 400;
  color: #242424;
  font-size: 16px;
  margin-top: 7rem;
  background-color:var(--bg-color);
  
}

main {
  width: 500px;
}

input, button {
  font-size: inherit;
  font-family: inherit;
  height: 45px;
  border-radius: 3px;
}

h1 {
  font-size: 2.5rem;
  color: #242424;
}

#form-add-item {
  position: relative;
}

input {
  width: 100%;
  display: block;
  padding: 0.6rem;
  background-color: var(--light-gray);
  border: none;
  margin-block: 0.5rem;
}

#filter {
  background-color: var(--bg-color);
  color: var(--color);
  border: none;
  outline: none;
  border-bottom: 1px solid #242424;
  border-radius: 0px; 
  display: none;
}

#filter::placeholder {
  letter-spacing: 1px;
  color: #171616; 
}

#btn-add-item {
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  margin-block: 0.5rem 1rem;
}

#btn-add-item:hover {
  background-color: var(--color);
  color: var(--light-gray);
}

.error-message {
  color: var(--red-error);
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  display: none;
}

/* show error  */
#form-add-item.show-error .error-message {
  display: block;
}

#form-add-item.show-error input {
  border: 1px solid var(--red-error);
}

ul {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.7rem;
}

li {
  list-style: none;
  border-radius: 5px;
  border: 1px solid #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.7rem;
  height: 45px;
}

.list-items p {
 font-size: 18px;
 font-weight: 500;
 text-transform: capitalize;
}




#clear {
  width: 100%;
  margin-top: 2rem;
  background-color: #898888;
  border: 1px solid #242424;
  display: none;
  cursor: pointer;
}

#clear:hover {
  background-color: #6f6f6f;
}

.delete-icon {
  background-color: #898888;
  border: none;
  cursor: pointer;
  font-style: normal;  
  font-weight: 600;
  font-size: 16px;
  color: #f4f4f4;
  background-color: rgb(232, 42, 42);
  border-radius: 50%;
  height: 25px;
  width: 25px;
}